body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.todo-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#addBtn {
    background-color: #3b71ca;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #fafafa;
}

.task-text {
    flex: 1;
    margin-left: 10px;
    cursor: pointer;
}


.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}